<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1>Create a New Campground</h1>
    </div><!--jumbotron-->
    <div class="row">
        <div style="width:30%; margin: 25px auto;"><!--provisory styling-->
            <form action="/campgrounds" method="POST">
                <div class="form-group"><!--Name-->
                    <input type="text" class="form-control" placeholder="name" name="name">
                </div><!--Name-->
                <div class="form-group"><!--Image-->
                    <input type="text" class="form-control" placeholder="image url" name="image">
                </div><!--Image-->
                <div class="form-group"><!--Submit-->
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div><!--Submit-->
            </form>
            <a href="/campgrounds">Go Back</a>
        </div><!--provisory styling-->
    </div><!--row-->
</div><!--container-->
 
<%- include("partials/footer") %>